<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="container">

    <h2>Choose a Date to See Events</h2>
    <div class="col-lg-6 col-md-6 col-sm-6">
      <h3>Start Date</h3>
      <div style="display:inline-block; min-height:290px;">
        <datepicker ng-model="main.date" 
                    ng-change="main.updateEvents()"
                    show-weeks="false"
                    class="well well-sm"></datepicker>
      </div>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-6">

        <ul class="list-group">
          <li class="list-group-item">
            <h4>Showing Events for</h4>
            <h5>{{ main.date | date:'fullDate' }}</h5>
          </li>
          <li class="list-group-item calendar-item" 
              ng-repeat="event in main.calendarEvents">
            <h5>{{event.summary}}</h5>
            <p>From: {{event.start.dateTime | date:'h:mm:ss a'}}</p>
            <p>To: {{event.start.dateTime | date:'h:mm:ss a'}}</p>
          </li>
         
        </ul>



      </div>
    </div>

  </div>
</header>

<footer class="footer">
 
</footer>
